@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image:url(adult-beautiful-beauty-915051.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
    background-color: #fff;
	position:relative;
    overflow-y: hidden;
}
a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(30,30,30, 0.9);
}

.login-reg-panel h2{
    color: #F9CB40;
}

#label-register {
    background-color : #F9CB40 ;
    color: #000000;
    border-radius: 30px;
}
.white-panel{
    background-color: #377771;
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    border-radius: 25px;
}
.login-reg-panel input[type="radio"]{
    position: relative;
    display: none;
}


.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    background-color: #F9CB40;
    color :#000000;
    text : uppercase;
    padding:0 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:2px;
    cursor:pointer;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
    transition: 0,8s;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}




.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 20px;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #F9CB40;
    color: #000000;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
    color : #F9CB40;
}
.login-show h2{
    color : #F9CB40 ;
}

.login-show a:hover{
    color : blue;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    border-radius: 20px;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #F9CB40;
    color: #000000;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 30px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#000000;
  text-decoration: underline;
}
    
